:root {
  --bg-color: #DDFAE8;
  --text-color: #154b19;
  --accent-color: #36dd20;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  min-inline-size: 360px;
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: var(--bg-color, #DDFAE8);
  font-family: var(--main-font, sans-serif);
  color: var(--text-color, #566B33);
  font-size: 18px;
}

.header {
  margin-block-start: 10%;
  margin-block-end: 6.5%;
}

.content__section {
  padding: 0 5vw;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
}

.slogan {
  font-size: 30px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
}

.header__theme-toggler {
  display: flex;
  padding: 0;
  gap: 20px;
  list-style: none;
}

button:disabled {
  pointer-events: none;
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
  line-height: 104%;
}

.header__theme-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.3em;
  inset-block-end: 0.2em;
  inset-inline-start: -4px;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.content__block {
  margin-block-end: 6.5%;
}

.content__title {
  margin-block-end: 2.2%;
  font-size: 30px;
}

.content__title + .content__text::first-letter {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 0 4px;
  margin-inline-end: 1px;
  background-color: var(--accent-color);
}

.theme_dark .content__title + .content__text::first-letter {
  border: 1px solid currentColor;
}

.content__text:not(:last-child) {
  margin-block-end: 1.5em;
}

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vw);
  inset-inline-start: -5vw;
}

.content__picture {
  inline-size: 100%;
}

.theme_dark .content__picture {
  filter: brightness(60%);
}

.content__picture-caption {
  padding: 20px;
  text-align: center;
  border-block-end: 1px solid currentColor;
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%;
}

.content__card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: '';
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.2em;
  inset-block-end: 0.2em;
  inset-inline-start: -4px;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__list {
  list-style: none;
  padding: 0 0 0 40px;
  margin-block-end: calc(10% - 10px);
}

.content__list li {
  margin-block-end: 10px;
  position: relative;
}

.content__list li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  inset-block-start: 50%;
  inset-inline-start: -25px;
  margin-block-start: -7.5px;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}

.footer {
  padding: 2.5%;
  text-align: center;
  border-block-start: 1px solid currentColor;
}